@import url('https://fonts.google.com/specimen/Roboto+Condensed');

/* body {
    width: 100%;
    margin: 0;
    padding: 0;
    background: url("../image/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
} */

/* * {
    font-family: Roboto, "Condensed", serif;
} */

a {
    text-decoration: none;
    color: white;
}

/* ul {
    padding-inline-start: 0;
} */

input[type=submit]:hover, ul>li:hover {
    cursor: pointer;
    transform: scale(1.1);
}

li {
    list-style-type: none;
    display: inline-block;
    border: 2px solid white;
    padding: 10px;
    margin: 10px;
    width: 100px;
    text-align: center;
    border-radius: 5px;
}

nav {
    background: rgba(82, 245, 210, 0.473);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0;
    padding-top: 0;
    border-radius: 3px
}

nav > ul {
    text-align: center;
    margin: 0 5px;
    color: white;
}




footer {
    margin-top: 50px;
    text-align: center;
    background: rgba(82, 245, 210, 0.473);
    padding: 10px 0;
    color: rgb(14, 2, 2);
    position: fixed;
    bottom: 0;
    width: 100%;
}






h3 {
    font-size: 22px;
    margin-bottom: 0;
}

.guest {
    text-align: center;
    position: relative;
    margin: 0 auto;
    margin-top: 10%;
    color: white;
    background: rgba(0, 0, 0, 0.703);
    padding: 40px;
    width: 30%;
    font-size: 30px;
    border: 2px solid white;
}