
/* body {
    width: 100%;
    margin: 0;
    padding: 0;
    background: url("../image/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
} */

* 


h2 {
    font-size: 50px;
    margin: 0;
}

/* label {
    color: gray;
    font-size: 25px;
} */



/* form {
    text-align: center;
} */

/* input {
    display: block;
    margin: 10px auto;
    width: 200px;
    border: 2px solid lightsteelblue;
    padding: 5px;
} */
/* 
footer {
    margin-top: 50px;
    text-align: center;
    background: black;
    padding: 10px 0;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
} */



